@import './utils/variables';
@import './utils/normalize';
@import './utils/placeholders';
@import './utils/global';
@import './utils/utilities';
@import './components/page-header/page-header';
@import './components/page-header/header-logo';
@import './components/page-header/navigation';
@import './components/page-header/contacts';
@import './components/page-header/mobile-menu';
@import './components/page-header/mobile-social';
@import './components/main-part/hero-section';
@import './components/main-part/backdrop';
@import './components/main-part/modal';
@import './components/main-part/features';
@import './components/main-part/activity';
@import './components/main-part/team';
@import './components/main-part/social-links';
@import './components/main-part/our-clients';

@import './components/footer/footer';
@import './components/footer/footer-logo';
@import './components/footer/footer-address';
@import './components/footer/footer-links';
@import './components/footer/footer-subscribe';