// .section__features {
//   padding-bottom: 0;
// }

.features__list {
  @extend %list;
  // display: flex;
}
.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

// .features__item:not(:last-child) {
//   margin-right: 30px;
//   }

.features__descr {
  min-width: 270px;
  color: $secondary-text-color;
  line-height: 1.71;
}