.footer__logo-box {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.footer__logo-part {
  color: $white-text-color;
}