.navigation {
  margin-bottom: 300px;
}
.navigation__list {
  @extend %list;
}

.navigation__item:not(:last-child) {
  // margin-right: 50px;
  margin-bottom: 32px;

}

.navigation__link {
  display: block;
  font-family: $primary-font;
  color: $primary-test-color;
  //   padding-top: 32px;
  //   padding-bottom: 32px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms $cubic;

&:hover,
&:focus {
  color: $accent-color;
  }

&--current {
  // position: relative;
  color: $accent-color;
  }
}

// &--current::after {
//   display: block;
//   position: absolute;
//   bottom: 0;
//   content: "";
//   height: 4px;
//   width: 100%;
//   background-color: $accent-color;
//   border-radius: 2px;
//   }
// }