
.navigation__list {
  @extend %list;
  @media screen and (min-width:$tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;   
    }
}

@media screen and (max-width:767px) {
  .navigation__item:not(:last-child) {
  margin-bottom: 32px;
  }

}

.navigation__link {
  display: block;
  font-family: $primary-font;
  color: $primary-test-color;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms $cubic;

@media screen and (min-width:$tablet) {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
}
&:hover,
&:focus {
  color: $accent-color;
  }
&--current {
  position: relative;
  color: $accent-color;
    }

@media screen and (min-width:$tablet){

&--current::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: $accent-color;
  border-radius: 2px;
  }
}
}