body {
  margin: 0;
  color: $primary-test-color;
  font-family: $primary-font;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.container {
  width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.thumb {
  display:flex;
  // width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $button-bg;
  border-radius: 4px;
}
.heading {
  // margin-bottom: 50px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  // font-size: 36px;
  // line-height: 1.17;
  text-align: center;
  line-height: 1.18;
}



